h1,
h2,
h3,
h4 {
  color: #212121;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 50px;
  }
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
}

.button.primary {
  background: #f5f4fa;
  color: #212121;
}

.button.primary:hover, .button.primary:focus, .button.primary:active {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.secondary {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal-window {
  transform: scale(0.1);
}

.modal__window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms;
  width: 100%;
  min-height: 581px;
  padding: 39px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .modal__window {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__window {
    width: 528px;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover, .close:focus {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.coment__field {
  margin-bottom: 20px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input-wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .input-icon,
.modal__input:hover + .input-icon, .modal__input:focus, .modal__input:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__coment {
  width: 100%;
  height: 120px;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__coment:focus, .modal__coment:hover {
  border-color: #2196f3;
}

.modal__coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .check {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check__box {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chek__text {
  display: inline-block;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.17;
}

.checkbox__icon {
  fill: transparent;
}

.check__input:checked + .check__box {
  background-color: #2196f3;
  border: none;
}

.check__input:focus:checked + .check__box {
  box-shadow: 0 0 0 0.2em #2f303a;
}

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.2em #2196f3;
}

.check__link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 4px;
}

.modal__checkbox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal__button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.mob-menu__open,
.mob-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.mob-menu__open:hover, .mob-menu__open:focus, .mob-menu__open:active,
.mob-menu__close:hover,
.mob-menu__close:focus,
.mob-menu__close:active {
  fill: #2196f3;
}

@media screen and (min-width: 780px) {
  .mob-menu__open,
  .mob-menu__close {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 48px 40px;
  background-color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 780px) {
  .mob-menu {
    display: none;
  }
}

.mob-nav__item {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav__link:hover, .mob-nav__link:focus, .mob-nav__link:active {
  color: #2196f3;
}

.mob-nav__link.current {
  color: #2196f3;
}

.mob-menu__list {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu__item {
  padding: 0 10px;
}

.mob-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-contacts__tel {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mob-contacts__tel {
    font-size: 34px;
  }
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .logo {
  padding: 16px 0;
  margin-right: 88px;
}

@media screen and (min-width: 768px) {
  .header .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    padding: 24px 0;
    margin-right: 73px;
  }
}

.top-line {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.studio-top {
  color: #000000;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 780px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__link {
  padding: 32px 0;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus, .site-nav__link:active {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
  position: relative;
}

.site-nav__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__contacts {
  display: none;
}

@media screen and (min-width: 780px) {
  .header__contacts {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: #2196f3;
}

.contacts__link.mail {
  padding-top: 20px;
}

.contacts__link.tel {
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .contacts__link.mail, .contacts__link.tel {
    padding: 32px 0;
  }
}

.link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-mob-x1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-mob-x2.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-tab-x1.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-tab-x2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-desk-x1.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/header-desk-x2.jpg);
  }
}

.hero-title {
  font-weight: 900;
  font-size: 6vw;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero .button {
  width: 200px;
  height: 50px;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.features__list .features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
  .features__item + .features__item {
    margin-left: 30px;
  }
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}

.features__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
    padding-bottom: 94px;
  }
}

.activity__list {
  display: flex;
}

.activity__item {
  position: relative;
}

.activity__item + .activity__item {
  margin-left: 30px;
}

.activity__label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team__item {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    height: auto;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
    height: auto;
  }
  .team__item + .team__item {
    margin-left: 30px;
  }
}

.team__card {
  text-align: center;
  padding: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover, .team-social-link:focus, .team-social-link:active {
  background-color: #2196f3;
  color: #ffffff;
}

.team-social-icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.clients__item {
  width: calc(100% / 2 - 30px);
  height: 92px;
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus, .clients__link:active {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.client__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer__adress {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  width: 231px;
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    text-align: left;
    margin-bottom: 0;
  }
}

.foot__item:not(:last-child) {
  margin-bottom: 10px;
}

.studio__foot {
  color: #ffffff;
}

.foot__address {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot__address:hover, .foot__address:focus, .foot__address:active {
  color: #2196f3;
}

.address-post {
  text-decoration: none;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-post:hover, .address-post:focus, .address-post:active {
  color: #2196f3;
}

.desk-footer {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .desk-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .desk-footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__sections {
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__sections {
    display: flex;
    align-items: baseline;
  }
}

.adress__section {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .adress__section {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .adress__section {
    text-align: left;
  }
}

.links-section {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .links-section {
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-links-text {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-links-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus, .footer-link:active {
  background-color: #2196f3;
}

.footer-links-item + .footer-links-item {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .mail__section {
    width: 100%;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .input-form {
    display: flex;
  }
}

.mail-window {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-window:hover, .mail-window:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .mail-window {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-window {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mail__section {
  text-align: center;
}

.mail__section .button {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 50px;
  fill: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail__section .button:hover, .mail__section .button:focus {
  background-color: #188ce8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  .mail__section {
    margin-right: auto;
  }
}

.mail__text {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .mail__text {
    text-align: left;
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.18;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters .button {
  padding: 6px 22px;
}

.filter {
  margin-bottom: 10px;
  margin-left: 10px;
}

.filter .button {
  transition-property: background, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.card {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: calc(100% / 3 - 30px);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.card__container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  flex-grow: 1;
}

.card__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #757575;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover, .card__link:focus, .card__link:active {
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  transform: translatey(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.card__link:hover .overlay__text,
.card__link:focus .overlay__text {
  transform: translatey(0);
}
/*# sourceMappingURL=main.css.map */