.footer {
  background-color: $footer-bg-color;

  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  .logo {
    margin-bottom: 20px;
  }
}

.footer__adress {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  width: 231px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}
.foot__item:not(:last-child) {
  margin-bottom: 10px;
}
.studio__foot {
  color: $accent-white-color;
}
.foot__address {
  text-decoration: none;
  color: $footer-text-color;

  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}

.address-post {
  text-decoration: none;
  color: $accent-white-color;

  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}
.desk-footer {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__sections {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-left: 76px;
    padding-right: 89px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.adress__section {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.links-section {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-links-text {
  display: block;
  color: $accent-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-links-list {
  display: flex;
  justify-content: center;
}
.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $accent-white-color;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color;
  }
}

.footer-links-item + .footer-links-item {
  margin-left: 10px;
}
.mail__section {
  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-left: 93px;
  }
}

.input-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.mail-window {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $accent-white-color;

  transition-property: border;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mail__section {
  text-align: center;
  .button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    height: 50px;
    fill: $accent-white-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background;
    transition-duration: $transition-time;
    transition-timing-function: $transition-function;

    &:hover,
    &:focus {
      background-color: #188ce8;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.mail__text {
  text-align: center;
  color: $accent-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
