.header {
  border-bottom: 1px solid #ececec;
  .logo {
    padding: 16px 0;
    margin-right: 88px;
    @media screen and (min-width: 768px) {
      padding: 26px 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 24px 0;
      margin-right: 73px;
    }
  }
}
.top-line {
  display: flex;
  align-items: center;
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: $accent-color;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.studio-top {
  color: $black-color;
}
.site-nav {
  display: none;
  @media screen and (min-width: 780px) {
    display: flex;
  }
}

.site-nav__link {
  padding: 32px 0;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
  &.current {
    color: $accent-color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

.header__contacts {
  display: none;
  @media screen and (min-width: 780px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contacts__item + .contacts__item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contacts__item:first-child {
  @media screen and (min-width: 780px) and (max-width: 1200px) {
    margin-bottom: 10px;
  }
}
.contacts__link {
  display: flex;
  text-decoration: none;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  align-items: center;

  transition-property: color;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
  &.mail {
    padding-top: 20px;
  }
  &.tel {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    &.mail,
    &.tel {
      padding: 32px 0;
    }
  }
}
.link-icon {
  margin-right: 10px;
  fill: currentColor;
}
