.hero {
  background-color: $footer-bg-color;
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/header-mob-x1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/header-mob-x2.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/header-tab-x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/header-tab-x2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/header-desk-x1.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/header-desk-x2.jpg);
    }
  }
}
.hero-title {
  font-weight: 900;
  font-size: 6vw;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $accent-white-color;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero .button {
  width: 200px;
  height: 50px;

  transition-property: background;
  transition-duration: $transition-time;
  transition-timing-function: $transition-function;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}
