$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-white-color: #ffffff;
$black-color: #000000;
$footer-bg-color: #2f303a;
$section-bg-color: #f5f4fa;
$footer-text-color: rgba(255, 255, 255, 0.6);
$clients-logo-color: #afb1b8;
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
